<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="container" th:object="${order}">
    <div class="row m-2 card-header">
        <h4 class="col-sm-6">Детайли на заявка</h4>
    </div>
    <div class="row m-2">
        <div class="col">
            <table class="table table-light">
                <tbody>
                <tr>
                    <td><em><strong th:text="|Име:|"></strong></em></td>
                    <td th:text="*{client.name}"></td>
                    <td><em><strong th:text="|Телефон:|"></strong></em></td>
                    <td th:text="*{client.phone}"></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td><em><strong th:text="|От дата:|"></strong></em></td>
                    <td th:text="' ' + *{orderDate}"></td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td><em><strong th:text="|Вид заявка:|"></strong></em></td>
                    <td th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.MontageOrderDto)}"
                        th:text="*{montageType.displayName}"></td>
                    <td th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.RepairOrderDto)}"
                        th:text="*{repairType.displayName}"></td>
                    <td th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.ProphylacticOrderDto)}"
                        th:text="*{prophylacticType.displayName}"></td>
                    <td colspan="4"></td>
                </tr>
<!--Products section-->
                <th:block th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.MontageOrderDto)}"
                          th:include="~{fragments/orders/montageProductDetails}"></th:block>
                <th:block th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.RepairOrderDto)}"
                          th:include="~{fragments/orders/repairProductDetails}"></th:block>
                <th:block th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.ProphylacticOrderDto)}"
                          th:include="~{fragments/orders/prophylacticProductDetails}"></th:block>
                <tr>
                    <td><em><strong th:text="|Град:|"></strong></em></td>
                    <td th:text="*{location.city}"></td>
                    <td><em><strong th:text="|Адрес:|"></strong></em></td>
                    <td colspan="4" th:text="*{location.address}"></td>
                </tr>
                <tr>
                    <td><em><strong th:text="|Цена:|"></strong></em></td>
                    <td th:text="*{price}"></td>
                    <th:block th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.MontageOrderDto)}">
                        <td><em><strong th:text="|Отстъпка:|"></strong></em></td>
                        <td th:text="*{discount}"></td>
                    </th:block>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td><em><strong th:text="|Капаро:|"></strong></em></td>
                    <td th:text="*{deposit}"></td>
                    <td><em><strong th:text="|Дължима сума:|"></strong></em></td>
                    <td th:text="*{forPayment}"></td>
                    <td colspan="2"></td>
                </tr>
                <tr th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.RepairOrderDto)}">
                    <td><em><strong th:text="|Описание на проблема:|"></strong></em></td>
                    <td th:text="*{description}" colspan="5"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h6 class="card-header">Статус</h6>
    <div class="form-group row m-2 ">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="isFinished" name="isFinished" th:checked="*{isFinished}"
                   disabled="disabled">
            <label class="form-check-label" for="isFinished">Приключена</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="isWaiting" name="isWaiting" th:checked="*{isWaiting}"
                   disabled="disabled">
            <label class="form-check-label" for="isWaiting">В изчакване</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="isForFinishing" name="isMarked"
                   th:checked="*{isForFinishing}" disabled="disabled">
            <label class="form-check-label" for="isForFinishing">За довършване</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="isPayed" name="isPayed" th:checked="*{isPayed}"
                   disabled="disabled">
            <label class="form-check-label" for="isPayed">Платена</label>
        </div>
        <div class="form-check form-check-inline"
             th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.MontageOrderDto)}">
            <input class="form-check-input" type="checkbox" id="isDeferred" name="isDeferred" th:checked="*{isDeferred}"
                   disabled="disabled">
            <label class="form-check-label" for="isDeferred">Разсрочено</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="isWithInvoice" name="isWithInvoice"
                   th:checked="*{isWithInvoice}" disabled="disabled">
            <label class="form-check-label" for="isWithInvoice">С фактура</label>
        </div>
        <div class="form-check form-check-inline"
             th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.MontageOrderDto)}">
            <input class="form-check-input" type="checkbox" id="isMarked" name="isMarked" th:checked="*{isMarked}"
                   disabled="disabled">
            <label class="form-check-label" for="isMarked">Маркирана</label>
        </div>
    </div>

    <!--<h5 class="card-header">Особености/бележки</h5>-->
    <div class="form-group row m-2">
        <div class="col-sm-6">
            <label for="comment">Особености/бележки:</label>
            <textarea class="form-control" id="comment" name="comment" rows="4" th:text="*{comment}"
                      disabled="disabled"></textarea>
        </div>
        <div class="col-sm-6">
            <label for="scheduleDate" class="col-form-label">Планиран за дата:</label>
            <input disabled="disabled" type="text" class="form-control col-sm-4" id="scheduleDate"
                   th:placeholder="*{scheduleDate}">
        </div>
    </div>
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"/>
    <!--Buttons section-->
    <div class="form-group">
        <th:block th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.MontageOrderDto)}"
                  th:include="~{fragments/orders/buttons/montageDetailsButtons}"></th:block>
        <th:block th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.RepairOrderDto)}"
                  th:include="~{fragments/orders/buttons/repairDetailsButtons}"></th:block>
        <th:block th:if="${order instanceOf T(com.ispectrum.crmclima.areas.orders.models.dtos.ProphylacticOrderDto)}"
                  th:include="~{fragments/orders/buttons/prophylacticDetailsButtons}"></th:block>
    </div>
</div>