<h3>All users</h3>
<div class="button mt-3 mb-3">
    <button th:href="@{/admin/add}">Add user</button>
</div>
<table class="table table-hover mt-5">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="user, iter:${users}" th:object="${user}"
        th:if="${user.isAdmin()} == false">
        <th scope="row" th:text="${iter.index+1}"></th>
        <td th:text="*{username}"></td>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>

    </tbody>
</table>