<div class="container">
    <div class="row card-header mb-3">
        <h3 class="col-sm-9">Всички потребители</h3>
        <div class="col-sm-3 mt-3 mb-3 ml-auto">
            <a type="button" class="btn btn-success" th:href="@{/admin/add}">Добави потребител</a>
        </div>
    </div>
    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table" th:each="user, iter:${users}" th:object="${user}"
            th:if="${user.isAdmin()} == false">
            <th scope="row" th:text="${iter.index+1}"></th>
            <td th:text="*{username}"></td>
            <td>
                <a class="btn btn-sm btn-warning" th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
                <a class="btn btn-sm btn-danger" th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>