<tr class="table"
    th:if="${#strings.equalsIgnoreCase(city,'поморие')} or
                    ${#strings.equalsIgnoreCase(city,'бургас')} or
                    ${#strings.equalsIgnoreCase(city,'capaфово')} or
                    ${#strings.equalsIgnoreCase(city,'каменар')} or
                    ${#strings.equalsIgnoreCase(city,'каблешково')} or
                    ${#strings.equalsIgnoreCase(city,'burgas')} or
                    ${#strings.equalsIgnoreCase(city,'pomorie')} or
                    ${#strings.equalsIgnoreCase(city,'kamenar')} or
                    ${#strings.equalsIgnoreCase(city,'kableshkovo')} or
                    ${#strings.equalsIgnoreCase(city,'sarafovo')} or">
    <th:block th:include="~{schedules/fragments/scheduleTableBody}"></th:block>
</tr>
