<h5 class="row card-header mb-1 p-1">Монтажи</h5>
<!--content-->
<table class="table table-striped schedule-sch">
    <thead class="thead-dark">
    <th:block th:include="~{schedules/fragments/scheduleTableHead}"></th:block>
    </thead>
    <tbody class="table-bordered">
    <tr>
        <td th:colspan="11" class="table-center-text">Поморие, Сарафово, Бургас</td>
    </tr>
    <th:block th:each="montage, iter:${schedule.montageOrders}" th:object="${montage}" th:with="city=*{location.city}">
        <th:block th:include="~{schedules/fragments/firstAreaTableBody}"></th:block>
    </th:block>
    <tr>
        <td th:colspan="11" class="table-center-text">Несебър, Сл.Бряг, Равда, Влас</td>
    </tr>
    <th:block th:each="montage, iter:${schedule.montageOrders}" th:object="${montage}" th:with="city=*{location.city}">
        <th:block th:include="~{schedules/fragments/secondAreaTableBody}"></th:block>
    </th:block>
    </tbody>
</table>