<h5 class="row card-header mb-1">Профилактики</h5>
<!--content-->
<table class="table table-striped schedule-sch">
    <thead class="thead-dark">
    <th:block th:include="~{schedules/fragments/scheduleTableHead}"></th:block>
    </thead>
    <tbody class="table-bordered">
    <tr th:colspan="11">Поморие, Сарафово, Бургас</tr>
    <th:block th:each="prophylactic, iter:${schedule.prophylacticOrders}" th:object="${prophylactic}" th:with="city=*{location.city}">
        <th:block th:include="~{schedules/fragments/firstAreaTableBody}"></th:block>
    </th:block>
    <tr th:colspan="11">Несебър, Сл.Бряг, Равда, Влас</tr>
    <th:block th:each="prophylactic, iter:${schedule.prophylacticOrders}" th:object="${prophylactic}" th:with="city=*{location.city}">
        <th:block th:include="~{schedules/fragments/secondAreaTableBody}"></th:block>
    </th:block>
    </tbody>
</table>
