<tr>
    <th scope="col" class="col-index-sch">#</th>
    <th scope="col" class="col-order-sch">Заявка</th>
    <th scope="col" class="col-product-sch">Продукт</th>
    <th scope="col" class="col-count-sch">Бр.</th>
    <th scope="col" class="col-client-sch">Клиент</th>
    <th scope="col" class="col-address-sch">Адрес</th>
    <th scope="col" class="col-address-sch">Телефон</th>
    <th scope="col" class="col-address-sch">Капаро</th>
    <th scope="col" class="col-address-sch">Остава</th>
    <th scope="col" class="col-details-sch">Детайли</th>
    <th scope="col" class="col-comment-sch">Забележка</th>
</tr>