<tr class="table"
    th:if="${#strings.equalsIgnoreCase(city,'несебър')} or
                    ${#strings.equalsIgnoreCase(city,'сл.бряг')} or
                    ${#strings.equalsIgnoreCase(city,'равда')} or
                    ${#strings.equalsIgnoreCase(city,'влас')} or
                    ${#strings.equalsIgnoreCase(city,'ахелой')}
                    ${#strings.equalsIgnoreCase(city,'nesebar')} or
                    ${#strings.equalsIgnoreCase(city,'sunny beach')} or
                    ${#strings.equalsIgnoreCase(city,'ravda')} or
                    ${#strings.equalsIgnoreCase(city,'vlas')} or">
    <th:block th:include="~{schedules/fragments/scheduleTableBody}"></th:block>
</tr>