<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="ml-5 mr-5">
    <div class="row card-header mb-1">
        <h3 class="col-sm-12">Създаване на график за дата:</h3>
        <form class="form-inline" th:action="@{/schedule/add}" th:method="POST">
            <input class="form-control-sm" type="date" name="scheduleDate"
                   th:value="${currentDate}"/>
            <button type="submit" class="btn btn-success btn-sm p-2 ml-2">Създай</button>
        </form>
    </div>
    <!--content-->
    <table class="table table-striped schedule">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="col-index">#</th>
            <th scope="col" class="col-date">От дата</th>
            <th scope="col" class="col-order">Заявка</th>
            <th scope="col" class="col-product">Продукт</th>
            <th scope="col" class="col-count">Бр.</th>
            <th scope="col" class="col-client">Клиент</th>
            <th scope="col" class="col-address">Адрес</th>
            <th scope="col" class="col-details">Детайли</th>
            <th scope="col" class="col-comment">Забележка</th>
            <th scope="col" class="col-status">Статус</th>
            <th scope="col" class="col-schDate">За дата</th>
            <th scope="col" class="col-actions">Действия</th>
        </tr>
        </thead>
        <tbody class="table-bordered">
        <tr class="table" th:each="order, iter:${orders}" th:object="${order}">
            <!--index-->
            <td scope="row" th:text="${iter.index+1}"></td>
            <!--orderDate-->
            <td th:text="*{orderDate}"></td>
            <!--service Type-->
            <td id="serviceType">
                <p th:unless="*{montageType == null}" th:text="*{montageType.displayName}"></p>
                <p th:unless="*{repairType == null}" th:text="*{repairType.displayName}"></p>
                <p th:unless="*{prophylacticType==null}" th:text="*{prophylacticType.displayName}"></p>
            </td>
            <!--product-->
            <td>
                <th:block th:each="product:*{airConditioners}" th:object="${product.key}">
                    <p id="brand-model" th:text="|*{brand} *{model}|"></p>
                </th:block>
                <p id="otherProduct" th:placeholder="*{other}">
            </td>
            <!--count-->
            <td th:text="*{count}"></td>
            <!--client-->
            <td th:text="*{client.name}"></td>
            <!--address-->
            <td th:text="|*{location.city}, *{location.address}|"></td>
            <!--description-->
            <td th:text="*{description}"></td>
            <!--comments-->
            <td th:text="*{comment}"></td>
            <!--status-->
            <td class="changeEvent">
                <form>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"  name="isFinished"
                                   th:checked="*{isFinished}"/>
                            Приключена</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="isWaiting"
                                   th:checked="*{isWaiting}"/>
                            В изчакване</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="isForFinishing"
                                   th:checked="*{isForFinishing}"/>
                            За довършване</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="isPayed"
                                   th:checked="*{isPayed}"/>
                            Платена</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="isDeferred"
                                   th:checked="*{isDeferred}"/>
                            Разсрочено</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="isWithInvoice"
                                   th:checked="*{isWithInvoice}"/>
                            С фактура</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="isMarked"
                                   th:checked="*{isMarked}"/>
                            Маркирана</label>
                    </div>
                </form>
            </td>
            <!--schedule date-->
            <td class="changeEvent">
                <input class="form-control-sm" type="date" id="scheduleDate" th:value="*{scheduleDate}"/>
                <p class="message m-3"></p>
            </td>
            <!--actions-->
            <td>
                <a type="button" class="btn btn-sm btn-info col-sm-12 mb-2"
                   th:href="@{/orders/montages/details/{id}(id=${order.id})}">Детайли</a>
                <a type="button" name="save" th:attr="data-id=${order.id}, data-service=*{service}"
                   class="btn btn-sm btn-info col-sm-12"
                   href="#">Запази</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>