<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="ml-5 mr-5">
    <div class="row card-header mb-1">
        <h3 class="col-sm-12" th:text="|График за дата: ${schedule.scheduleDate}|"></h3>
    </div>
    <div th:unless="${#lists.isEmpty(schedule.montageOrders)}">
        <th:block th:replace="~{schedules/fragments/montageTable}"></th:block>
    </div>
    <div th:unless="${#lists.isEmpty(schedule.repairOrders)}" >
        <th:block th:replace="~{schedules/fragments/repairTable}"></th:block>
    </div>
    <div th:unless="${#lists.isEmpty(schedule.prophylacticOrders)}">
        <th:block th:replace="~{schedules/fragments/prophylacticTable}"></th:block>
    </div>
</div>