<div class="mx-auto" style="max-width: fit-content">
    <a href="#">Daikin </a>|
    <a href="#"> Mitsubishi </a>|
    <a href="#"> Mitsubishi Heavy </a>|
    <a href="#"> Gree </a>|
    <a href="#"> General </a>|
    <a href="#"> Midea </a>|
    <a href="#"> Toshiba </a>|
    <a href="#"> Carrier </a>|
    <a href="#"> Panasonic </a>|
    <a href="#"> MMC </a>|
    <a href="#"> SIG </a>|
    <a href="#"> Изпарителни охладители </a>|
    <a href="#"> Зои Клима </a>|
    <a href="#"> Атаро </a>|
    <a href="#"> Dekamex </a>|
</div>

