<nav class="navbar navbar-expand-lg navbar-color">
    <a class="navbar-brand brand-color" th:href="@{/}">ZOI CLIMA CRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="brand-color ml-auto" sec:authorize="isAuthenticated()">
            Welcome,
            <a class="nav-item brand-color my-2 my-lg-0" sec:authentication="name"></a>
        </div>
        <div class="ml-3 mr-3">
            <img sec:authorize="hasRole('ADMIN')" src="/img/admin_logo.png" width="128"/>
            <img sec:authorize="hasRole('INSTALLER')" src="/img/installer.png" width="64"/>
            <img sec:authorize="hasRole('SELLER')" src="/img/seller.png" width="64"/>
        </div>

        <form class="form-inline my-2 my-lg-0 ml-auto" sec:authorize="isAnonymous()">
            <a class="nav-link navlinks-color my-2 my-sm-0"
               th:href="@{/users/login}">Login</a>
        </form>
        <form th:method="post" th:action="@{/logout}" class="form-inline my-2 my-lg-0"
              sec:authorize="isAuthenticated()">
            <button class="nav-link navlinks-color nav-button my-2 my-lg-0">Logout</button>
        </form>
    </div>

</nav>
<ul class="nav row btn-dark">
    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','SELLER')">
        <a type="button" class="btn btn-sm btn-dark" th:href="@{/clients/all?page=0}">Клиенти</a>
    </li>
    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','SELLER')">
        <a type="button" class="btn btn-sm btn-dark" th:href="@{/orders/montages/all?page=0}">Монтажи</a>
    </li>
    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','SELLER')">
        <a type="button" class="btn btn-sm btn-dark" th:href="@{/orders/repairs/all}">Ремонти</a>
    </li>
    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','SELLER')">
        <a type="button" class="btn btn-sm btn-dark" th:href="@{/orders/prophylactics/all}">Профилактики</a>
    </li>
    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','SELLER')">
        <a type="button" class="btn btn-sm btn-dark" th:href="@{/schedule/create}">Нов график</a>
    </li>
    <li class="nav-item" sec:authorize="isAuthenticated()">
        <a type="button" class="btn btn-sm btn-dark" th:href="@{/schedule/all}">Графици</a>
    </li>
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a type="button" class="btn btn-sm btn-dark" th:href="@{/admin/all}">Потребители</a>
    </li>
    <li class="navlinks-color ml-auto mr-3" sec:authorize="isAuthenticated()" th:text="${ordersInfo}">
    </li>
</ul>