<ul class="pagination pagination-sm justify-content-end"
    th:with="currentPage=${#conversions.convert(#request.getParameter('page'),'Integer')}">
<!--Prev buttons-->
    <li class="page-item" th:classappend="${currentPage==0}?'disabled'">
        <a class="page-link" th:href="@{'/viruses/all?page=0'}">First</a>
    </li>
    <li class="page-item" th:classappend="${currentPage<1}?'disabled'">
        <a class="page-link" th:href="@{'/viruses/all?page=' + ${currentPage-1}}" tabindex="-1">Previous</a>
    </li>
<!--Pages-->
    <li class="page-item">
        <a class="page-link plc" th:text="${currentPage<2 ? 1 : currentPage}"
           th:href="@{'/viruses/all?page=' + ${currentPage<2 ? 0 : currentPage-1}}"></a>
    </li>
    <li class="page-item">
        <a class="page-link plc" th:text="${currentPage<2 ? 2 : currentPage+1}"
           th:href="@{'/viruses/all?page=' + ${currentPage<2 ? 1 : currentPage}}"></a>
    </li>
    <li class="page-item" th:classappend="${currentPage+2>viruses.getTotalPages()}?'disabled'">
        <a class="page-link plc" th:text="${currentPage+2>viruses.getTotalPages()? '...' : currentPage<2 ? 3 : currentPage+2}"
           th:href="@{'/viruses/all?page=' + ${currentPage<2 ? 2 : currentPage+1}}"></a>
    </li>
<!--Next/Last buttons-->
    <li class="page-item" th:classappend="${currentPage+2>viruses.getTotalPages()}?'disabled'">
        <a class="page-link" th:href="@{'/viruses/all?page=' + ${currentPage+1}}"
           tabindex="+1">Next</a>
    </li>
    <li class="page-item" th:classappend="${currentPage+2>viruses.getTotalPages()}?'disabled'">
        <a class="page-link" th:href="@{'/viruses/all?page=' + ${viruses.getTotalPages()-1}}"
        >Last</a>
    </li>
</ul>