<h6 class="col-sm-6 mb-0 p-2 text-right" style="color: #6c757d"
    th:text="|- ${objects.getTotalPages() > 0 ? currentPage+1 : 0} от ${objects.getTotalPages()} -|"></h6>
<nav class="col-sm-6 ml-auto">
    <ul class="pagination pagination-sm justify-content-end mb-1">
        <!--Prev buttons-->
        <li class="page-item" th:classappend="${currentPage==0}?'disabled'">
            <a class="page-link" th:href="@{/{route}/all?page=0(route=${area})}">First</a>
        </li>
        <li class="page-item" th:classappend="${currentPage<1}?'disabled'">
            <a class="page-link" th:href="@{'/{route}/all?page=' + ${currentPage-1}(route=${area})}" tabindex="-1">Previous</a>
        </li>
        <!--Pages-->
        <li class="page-item">
            <a class="page-link plc" th:text="${currentPage<2 ? 1 : currentPage}"
               th:href="@{'/{route}/all?page=' + ${currentPage<2 ? 0 : currentPage-1}(route=${area})}"></a>
        </li>
        <li class="page-item">
            <a class="page-link plc" th:text="${currentPage<2 ? 2 : currentPage+1}"
               th:href="@{'/{route}/all?page=' + ${currentPage<2 ? 1 : currentPage}(route=${area})}"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage+2>objects.getTotalPages()}?'disabled'">
            <a class="page-link plc"
               th:text="${currentPage+2>objects.getTotalPages()? '...' : currentPage<2 ? 3 : currentPage+2}"
               th:href="@{'/{route}/all?page=' + ${currentPage<2 ? 2 : currentPage+1}(route=${area})}"></a>
        </li>
        <!--Next/Last buttons-->
        <li class="page-item" th:classappend="${currentPage+2>objects.getTotalPages()}?'disabled'">
            <a class="page-link" th:href="@{'/{route}/all?page=' + ${currentPage+1}(route=${area})}"
               tabindex="+1">Next</a>
        </li>
        <li class="page-item" th:classappend="${currentPage+2>objects.getTotalPages()}?'disabled'">
            <a class="page-link" th:href="@{'/{route}/all?page=' + ${objects.getTotalPages()-1}(route=${area})}"
            >Last</a>
        </li>
    </ul>
</nav>