<table class="table table-light">
    <tbody>
    <tr>
        <td><em><strong th:text="|Марка:|"></strong></em></td>
        <td th:text="*{brand}"></td>
        <td><em><strong th:text="|Модел:|"></strong></em></td>
        <td th:text="*{model}"></td>
        <td><em><strong th:text="|От дата:|"></strong></em></td>
        <td th:text="*{createdAt}"></td>
    </tr>
    <tr>
        <td><em><strong th:text="|Тип компресор:|"></strong></em></td>
        <td th:text="*{compressorType}"></td>
        <td><em><strong th:text="|Шум:|"></strong></em></td>
        <td th:text="*{noise}"></td>
        <td><em><strong th:text="|Тегло:|"></strong></em></td>
        <td th:text="*{weight}"></td>
    </tr>
    <tr>
        <td><em><strong th:text="|Широчина:|"></strong></em></td>
        <td th:text="*{width}"></td>
        <td><em><strong th:text="|Височина:|"></strong></em></td>
        <td th:text="*{height}"></td>
        <td><em><strong th:text="|Дълбочина:|"></strong></em></td>
        <td th:text="*{depth}"></td>
    </tr>
    <tr>
        <td><em><strong th:text="|Въздушен поток:|"></strong></em></td>
        <td th:text="*{airFlow}"></td>
        <td><em><strong th:text="|Изсушаване:|"></strong></em></td>
        <td th:text="*{dehumidification}"></td>
        <td colspan="1"></td>
    </tr>
    </tbody>
</table>
