.schedule {
    table-layout: fixed;
    width: 100%;
    font-size: smaller;
}
.schedule td {
    padding: 5px;
}

/* Column widths are based on these cells */
.col-index {
    width: 2%;
}
.col-date {
    width: 6%;
}
.col-order {
    width: 6%;
}
.col-product {
    width: 10%;
}
.col-count {
     width: 2%;
 }
.col-client {
      width: 8%;
}
.col-address {
    width: 13%;
}
.col-details {
    width: 12%;
}
.col-comment {
    width: 12%;
}
.col-status {
    width: 10%;
}
.col-schDate {
    width: 13%;
}

.col-actions {
    width: 6%;
}