<div class="ml-5 mr-5" th:with="currentPage=${#conversions.convert(#request.getParameter('page'),'Integer')}">
    <div class="row card-header mb-1">
        <h3 class="col-sm-12">Всички клиенти</h3>
        <div class="col-sm-4">
            <a type="button" class="btn btn-success" th:href="@{/clients/add}">Добави клиент</a>
        </div>
        <div class="col-sm-7 inline ml-auto" th:include="~{fragments/search}"></div>
    </div>
    <!--pagination-->
    <div class="row" th:include="~{fragments/page_nav}"></div>
    <!--content-->
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име</th>
            <th scope="col">Адрес</th>
            <th scope="col">e-mail</th>
            <th scope="col">Телефон</th>
            <th scope="col">Нов</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client, iter:${clients}" th:object="${client}">
            <th scope="row" th:text="${currentPage*12 + iter.index+1}"></th>
            <td th:text="*{name}"></td>
            <td th:text="*{address}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{phone}"></td>
            <td>
                <a type="button" class="btn btn-sm btn-success" th:href="@{/orders/montages/add/{id}(id=${client.id})}">Монтаж</a>
                <a type="button" class="btn btn-sm btn-success" th:href="@{/orders/repairs/add/{id}(id=${client.id})}">Ремонт</a>
                <a type="button" class="btn btn-sm btn-success"
                   th:href="@{/orders/prophylactics/add/{id}(id=${client.id})}">Профилактика</a>
            </td>
            <td>
                <a type="button" class="btn btn-sm btn-info"
                   th:href="@{/clients/details/{id}(id=${client.id})}">Детайли</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--pagination-->
    <div class="row" th:include="~{fragments/page_nav}"></div>
</div>