<div class="container" th:object="${bindingModel}">
    <div class="card-header">
        <h4 class="col">Нова заявка за профилактика на клиент: </h4>
    </div>

    <!--Client name-->
    <div th:replace="/orders/fragments/client_section"></div>

    <div class="container">
        <form class="form-horizontal" th:action="@{/orders/prophylactics/add/{id}(id=${client.id})}" th:method="POST">
            <h6 class="card-header">Дата</h6>
            <!--Date-->
            <div th:replace="/orders/fragments/date_section"></div>

            <!--Order type section-->
            <h6 class="card-header">Вид заявка</h6>
            <div class="form-group row m-2">
                <label for="prophylacticType" class="col-sm-2 col-form-label">Вид заявка:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="prophylacticType" name="repairType"
                            th:classappend="${#fields.hasErrors('prophylacticType')}? 'is-invalid':''"
                            th:field="*{prophylacticType}">
                        <option value="">- Избери услуга -</option>
                        <option class="form-control"
                                th:each="type :${T(com.ispectrum.crmclima.areas.orders.entities.enums.ProphylacticType).values()}"
                                th:value="${type}" th:text="${type.displayName}"></option>
                    </select>
                    <th:block th:each="error:${#fields.errors('prophylacticType')}">
                        <small class="invalid-feedback text-danger" th:text="${error}"></small>
                    </th:block>
                </div>
            </div>

            <!--Product section-->
            <div th:replace="/orders/fragments/product_section"></div>

            <!--Description section-->
            <div th:replace="/orders/fragments/description_section"></div>

            <!--Address section-->
            <div th:replace="/orders/fragments/address_section"></div>

            <!--Price section-->
            <div th:replace="/orders/fragments/price_section"></div>

            <!--Status section-->
            <div th:replace="/orders/fragments/status_section"></div>

            <!--Comments-->
            <div th:replace="/orders/fragments/comments_section"></div>

            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>

            <div class="form-group">
                <div class="col-lg-12 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Изчисти</button>
                    <a type="button" class="btn btn-default" th:href="@{/orders/prophylactics/all?page=0}">Откажи</a>
                    <button type="submit" class="btn btn-primary">Запиши</button>
                </div>
            </div>
        </form>
    </div>
</div>