<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="container" th:object="${bindingModel}">
    <div class="form-row m-2 card-header">
        <h4 class="col">Нова заявка за монтаж на клиент: </h4>
    </div>

    <!--Client name-->
    <div th:replace="/orders/fragments/client_section"></div>

    <hr/>
    <form class="form-horizontal" th:action="@{/orders/montages/montage/add/{id}(id=${client.id})}" th:method="POST">
        <!--Date-->
        <div th:replace="/orders/fragments/date_section"></div>

        <!--Order type section-->
        <div class="form-group row m-2">
            <label for="montageType" class="col-sm-2 col-form-label">Вид заявка:</label>
            <div class="col-sm-3">
                <select class="form-control" id="montageType" name="montageType"
                        th:classappend="${#fields.hasErrors('montageType')}? 'is-invalid':''"
                        th:field="*{montageType}">
                    <option value="">- Избери услуга -</option>
                    <option class="form-control"
                            th:each="type :${T(com.ispectrum.crmclima.areas.orders.entities.enums.MontageType).values()}"
                            th:value="${type}" th:text="${type.displayName}"></option>
                </select>
                <th:block th:each="error:${#fields.errors('montageType')}">
                    <small class="invalid-feedback text-danger" th:text="${error}"></small>
                </th:block>
                <th:block th:if="${#fields.hasGlobalErrors()}">
                    <small class="invalid-feedback text-danger" style="display: block"
                           th:text="${atLeastOneFilled}"></small>
                </th:block>
            </div>
        </div>

        <!--Products type section-->
        <div id="productTypeContainer" class="col-12" style="display:none">
            <div id="allSelectedProducts">
                <!--Chosen products-->
                <div class="row">
                    <h6 class="card-header col-12" th:text="'Избрани продукти / услуги'"></h6>
                </div>
                <div class="row" id="selectedProducts">
                    <div class="form-group col-sm-4 pr-1">
                        <label for="aircProductsBin" th:text="'Климатици'"></label>
                        <select multiple class="form-control" id="aircProductsBin" name="aircProductsBin"></select>
                    </div>
                    <div class="form-group col p-0 pt-4">
                        <a href="#" id="aircProductsBinBtn" type="button" class="btn btn-sm btn-danger">-</a>
                    </div>
                    <div class="form-group col-sm-3 pr-1">
                        <label for="coolersProductsBin" th:text="'Изпарителни охладители'"></label>
                        <select multiple class="form-control" id="coolersProductsBin"
                                name="coolersProductsBin"></select>
                    </div>
                    <div class="form-group col p-0 pt-4">
                        <a href="#" id="coolersProductsBinBtn" type="button" class="btn btn-sm btn-danger">-</a>
                    </div>
                    <div class="form-group col-sm-4 pr-1">
                        <label for="fridgeProductsBin" th:text="'Хладилна техника'"></label>
                        <select multiple class="form-control" id="fridgeProductsBin" name="fridgeProductsBin"></select>
                    </div>
                    <div class="form-group col p-0 pt-4">
                        <a href="#" id="fridgeProductsBinBtn" type="button" class="btn btn-sm btn-danger">-</a>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="otherProduct" th:text="'Друго'"></label>
                        <input class="form-control" id="otherProduct" name="otherProduct" th:field="*{otherProduct}"/>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>

            <!--Select products section-->
            <!--Headers-->
            <div class="row">
                <h6 id="productHeader" class="card-header col-12" th:text="'Избор на продукти'"></h6>
                <h6 id="descriptionHeader" class="card-header col-12">Описание</h6>
            </div>
            <!--Containers-->
            <div class="form-group row mt-2">
                <div class="col-10">
                    <!--Description section-->
                    <div id="descriptionContainer" class="form-group row">
                        <div class="col-12">
                            <label for="description">Описание:</label>
                            <input id="description" name="description" class="form-control" th:field="*{description}"/>
                        </div>
                    </div>
                    <!--New products section-->
                    <div id="newProductContainer" class="row">
                        <div class="col-md-3">
                            <label for="productType">Продукт:</label>
                            <select id="productType" name="productType" class="form-control">
                                <option value="">- Избери -</option>
                                <option th:each="product:${T(com.ispectrum.crmclima.areas.products.entities.enums.ProductType).values()}"
                                        th:value="${product}" th:text="${product.displayName}"></option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="brand">Марка:</label>
                            <select id="brand" class="form-control" name="brand">
                                <option value="">- Избери -</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="model">Модел:</label>
                            <select id="model" name="model" class="form-control">
                                <option value="">- Избери -</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="other">Друго:</label>
                            <input class="form-control" id="other" placeholder="Друг продукт">
                        </div>
                    </div>
                </div>
                <!--Count-->
                <div class="col-md-1">
                    <label for="count">Брой:</label>
                    <div class="">
                        <input id="count" class="form-control" name="count" th:field="*{count}">
                    </div>
                </div>
                <!--Add product btn-->
                <div class="col p-0 pt-4" style="text-align: center">
                    <a href="#" id="productAddBtn" type="button" class="btn btn-sm btn-success"
                       th:text="'&there4;'" style="text-align-all: justify"></a>
                </div>
            </div>

            <!--Price section-->
            <div class="row">
                <h6 class="card-header col-12">Цена</h6>
            </div>
            <div class="form-group row mt-2">
                <div class="col-12">
                    <div class="row">
                        <label for="externalPrice" class="col-sm-1 col-form-label">Цена:</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="externalPrice" name="externalPrice"
                                   placeholder="цена"
                                   th:classappend="${#fields.hasErrors('externalPrice')}? 'is-invalid':''"
                                   th:field="*{externalPrice}">
                            <th:block th:each="error:${#fields.errors('externalPrice')}">
                                <small class="invalid-feedback text-danger" th:text="${error}"></small>
                            </th:block>
                        </div>
                        <label for="deposit" class="col-sm-1 col-form-label">Капаро:</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="deposit" name="deposit" placeholder="капаро"
                                   th:classappend="${#fields.hasErrors('deposit')}? 'is-invalid':''"
                                   th:field="*{deposit}">
                            <th:block th:each="error:${#fields.errors('deposit')}">
                                <small class="invalid-feedback text-danger" th:text="${error}"></small>
                            </th:block>
                        </div>
                        <label for="discount" class="col-sm-1 col-form-label">Отстъпка:</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="discount" name="discount"
                                   placeholder="Отстъпка" th:field="*{discount}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Address section-->
        <div th:replace="/orders/fragments/address_section"></div>

        <!--Status section-->
        <div th:replace="/orders/fragments/status_section"></div>

        <!--Comments-->
        <div th:replace="/orders/fragments/comments_section"></div>

        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <!--Buttons-->
        <div class="form-group">
            <div class="col-lg-12 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Изчисти</button>
                <a type="button" class="btn btn-default" th:href="@{/orders/montages/all?page=0}">Откажи</a>
                <button type="submit" id="submitBtn" class="btn btn-primary">Запиши</button>
            </div>
        </div>
    </form>
</div>