<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->

<div class="container" th:object="${bindingModel}">
    <div class="form-row m-2 card-header">
        <h4 class="col-sm-4">Редактиране на заявка за монтаж</h4>
        <label for="name" class="col-sm-1 col-form-label">Име:</label>
        <div class="form-group col-md-4">
            <input type="text" readonly class="form-control-plaintext" id="name"
                   th:placeholder="${montage.client.name}">
        </div>
        <label for="phone" class="col-sm-1 col-form-label">Телефон:</label>
        <div class="form-group col-sm-2">
            <input type="text" readonly class="form-control-plaintext" id="phone"
                   th:placeholder="${montage.client.phone}">
        </div>
    </div>
    <hr/>
    <form class="form-horizontal" th:action="@{/orders/montages/edit/{id}(id=${montage.id})}" th:method="POST">
        <h5 class="card-header">Дата</h5>
        <div class="form-group row m-2">
            <label for="orderDate" class="col-md-2 col-form-label">Дата:</label>
            <div class="col-md-3">
                <input type="date" class="form-control" id="orderDate" name="orderDate"
                       th:value="${montage.orderDate}">
            </div>
        </div>

        <h5 class="card-header">Вид заявка</h5>
        <div class="form-group row m-2">
            <label for="montageType" class="col-sm-2 col-form-label">Вид заявка:</label>
            <div class="col-sm-3">
                <select class="form-control" id="montageType" name="montageType"
                        th:field="*{montageType}"
                        th:classappend="${#fields.hasErrors('montageType')}? 'is-invalid':''">
                    <option th:value="${montage.montageType}" th:text="${montage.montageType.displayName}"></option>
                    <option class="form-control"
                            th:each="type :${T(com.ispectrum.crmclima.areas.orders.entities.enums.MontageType).values()}"
                            th:value="${type}" th:text="${type.displayName}"></option>
                </select>
                <th:block th:each="error:${#fields.errors('montageType')}">
                    <small class="invalid-feedback text-danger" th:text="${error}"></small>
                </th:block>
            </div>
        </div>
        <!--Products section-->
        <div id="productTypeContainer" class="col-12">
            <!--Edit available montage products-->
            <div id="productEditBin">
                <h5 class="card-header">Продукт</h5>
                <div class="form-group row m-2" th:unless="${montage.airConditioners} == null"
                     th:each="aircon,iter:${montage.airConditioners}">
                    <!--th:include="~{orders/montages/fragments/productsAddForm}">-->
                    <div class="form-group col-md-3">
                        <label for="productType" th:text="|Продукт${iter.index+1}:|"></label>
                        <select id="productType" name="productType" class="form-control">
                            <option th:value="${aircon.key.productType}" th:text="${aircon.key.productType.displayName}"></option>
                            <option th:each="product:${T(com.ispectrum.crmclima.areas.products.entities.enums.ProductType).values()}"
                                    th:value="${product}" th:text="${product.displayName}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="brand">Марка:</label>
                        <select id="brand" class="form-control" name="brand">
                            <option th:value="${aircon.key.brand}" th:text="${aircon.key.brand}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="product">Модел:</label>
                        <select id="product" name="product" class="form-control">
                            <option th:value="${aircon.key.model}" th:text="${aircon.key.model}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="otherProduct">Друго:</label>
                        <input class="form-control" id="otherProduct" name="otherProduct"
                               th:value="${montage.product}">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="count">Брой:</label>
                        <div th:field="*{count}"
                             th:classappend="${#fields.hasErrors('count')}? 'is-invalid':''">
                            <input id="count" class="form-control" name="count" th:value="${aircon.value}">
                            <th:block th:each="error:${#fields.errors('count')}">
                                <small class="invalid-feedback text-danger" th:text="${error}"></small>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <!--Set new products-->
            <div class="row">
                <h5 id="productHeader" class="card-header col-12">Продукт</h5>
                <h5 id="descriptionHeader" class="card-header col-12">Описание</h5>
            </div>
            <div class="form-group row mt-2">
                <div class="col-11">
                    <div id="descriptionContainer" class="form-group row">
                        <div class="col-12">
                            <label for="description">Описание:</label>
                            <input id="description" class="form-control" name="description"/>
                        </div>
                    </div>
                    <div id="productContainer" class="row">
                        <div class="form-group col-md-3">
                            <label for="productType">Продукт:</label>
                            <select id="productType" name="productType" class="form-control"
                                    th:classappend="${#fields.hasErrors('productType')}? 'is-invalid':''"
                                    th:field="*{productType}">
                                <option value="">- Избери -</option>
                                <option th:each="product:${T(com.ispectrum.crmclima.areas.products.entities.enums.ProductType).values()}"
                                        th:value="${product}" th:text="${product.displayName}"></option>
                            </select>
                            <th:block th:each="error:${#fields.errors('productType')}">
                                <small class="invalid-feedback text-danger" th:text="${error}"></small>
                            </th:block>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="brand">Марка:</label>
                            <select id="brand" class="form-control" name="brand">
                                <option value="">- Избери -</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="product">Модел:</label>
                            <select id="product" name="product" class="form-control">
                                <option value="">- Избери -</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="otherProduct">Друго:</label>
                            <div id="otherProduct">
                                <input class="form-control" name="otherProduct" placeholder="Друг продукт">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <label for="count">Брой:</label>
                    <div class="">
                        <input id="count" class="form-control" name="count"
                               th:classappend="${#fields.hasErrors('count')}? 'is-invalid':''"
                               th:field="*{count}">
                        <th:block th:each="error:${#fields.errors('count')}">
                            <small class="invalid-feedback text-danger" th:text="${error}"></small>
                        </th:block>
                    </div>
                </div>
            </div>

        </div>
        <!--Price section-->
        <div class="row">
            <h5 class="card-header col-12">Цена</h5>
        </div>
        <div class="form-group row mt-2">
            <div class="col-12">
                <div class="row">
                    <label for="price" class="col-sm-1 col-form-label">Цена:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="price" name="price" placeholder="цена"
                               th:classappend="${#fields.hasErrors('price')}? 'is-invalid':''"
                               th:field="*{price}">
                        <th:block th:each="error:${#fields.errors('price')}">
                            <small class="invalid-feedback text-danger" th:text="${error}"></small>
                        </th:block>
                    </div>
                    <label for="deposit" class="col-sm-1 col-form-label">Капаро:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="deposit" name="deposit" placeholder="капаро"
                               th:classappend="${#fields.hasErrors('deposit')}? 'is-invalid':''"
                               th:field="*{deposit}">
                        <th:block th:each="error:${#fields.errors('deposit')}">
                            <small class="invalid-feedback text-danger" th:text="${error}"></small>
                        </th:block>
                    </div>
                    <label for="discount" class="col-sm-1 col-form-label">Отстъпка:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="discount" name="discount"
                               placeholder="Отстъпка">
                    </div>
                </div>
            </div>

        </div>

        <!--Address section-->
        <th:block th:object="${montage}">
            <h5 class="card-header">Адрес</h5>
            <div class="form-group row m-2">
                <label for="city" class="col-sm-1 col-form-label">Град:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="city" name="city"
                           th:value="*{location.city}">
                </div>
                <label for="address" class="col-sm-1 col-form-label">Адрес:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="address" name="address"
                           th:value="*{location.address}">
                </div>
            </div>

            <!--Price section-->

            <h5 class="card-header">Статус</h5>
            <div class="form-group row m-2 ">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="isFinished" name="isFinished"
                           th:checked="*{isFinished}">
                    <label class="form-check-label" for="isFinished">Приключена</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="isWaiting" name="isWaiting"
                           th:checked="*{isWaiting}">
                    <label class="form-check-label" for="isWaiting">В изчакване</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="isForFinishing" name="isForFinishing"
                           th:checked="*{isForFinishing}">
                    <label class="form-check-label" for="isForFinishing">За довършване</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="isPayed" name="isPayed" th:checked="*{isPayed}">
                    <label class="form-check-label" for="isPayed">Платена</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="isDeferred" name="isDeferred"
                           th:checked="*{isDeferred}">
                    <label class="form-check-label" for="isDeferred">Разсрочено</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="isWithInvoice" name="isWithInvoice"
                           th:checked="*{isWithInvoice}">
                    <label class="form-check-label" for="isWithInvoice">С фактура</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="isMarked" name="isMarked"
                           th:checked="*{isMarked}">
                    <label class="form-check-label" for="isMarked">Маркирана</label>
                </div>
            </div>

            <h5 class="card-header">Особености/бележки</h5>
            <div class="form-group row m-2">
                <div class="col-sm-6">
                    <label for="comment">Особености/бележки:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="4"
                              th:text="*{comment}"></textarea>
                </div>
                <div class="col-sm-6">
                    <label for="scheduleDate" class="col-form-label">Планиран за дата:</label>
                    <input type="date" class="form-control col-sm-4" id="scheduleDate" name="scheduleDate"
                           th:value="*{scheduleDate}">
                </div>
            </div>
        </th:block>

        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <div class="form-group">
            <div class="col-lg-12 col-lg-offset-2">
                <a type="button" class="btn btn-default" th:href="@{/orders/montages/all?page=0}">Откажи</a>
                <button type="submit" class="btn btn-primary">Запиши</button>
            </div>
        </div>
    </form>
</div>
<!--</html> -->