<div class="form-group col-md-3">
    <label for="productType">Продукт:</label>
    <select id="productType" name="productType" class="form-control"
            th:classappend="${#fields.hasErrors('productType')}? 'is-invalid':'is-valid'"
            th:field="*{productType}">
        <option value="">- Избери -</option>
        <option th:each="product:${T(com.ispectrum.crmclima.areas.products.entities.enums.ProductType).values()}"
                th:value="${product}" th:text="${product.displayName}"></option>
    </select>
    <th:block th:each="error:${#fields.errors('productType')}">
        <div class="invalid-feedback" th:text="${error}"></div>
    </th:block>
</div>
<div class="form-group col-md-2">
    <label for="brand">Марка:</label>
    <select id="brand" class="form-control" name="brand"
            th:classappend="${#fields.hasErrors('brand')}? 'is-invalid':'is-valid'"
            th:field="*{brand}">
        <option value="">- Избери -</option>
    </select>
    <th:block th:each="error:${#fields.errors('brand')}">
        <div class="invalid-feedback" th:text="${error}"></div>
    </th:block>

</div>
<div class="form-group col-md-3">
    <label for="product">Модел:</label>
    <select id="product" name="product" class="form-control">
        <option value="0">- Избери -</option>
    </select>
</div>
<div class="form-group col-md-3">
    <label for="other">Друго:</label>
    <div id="other">
        <input class="form-control" name="other" placeholder="Друг продукт">
    </div>
</div>
<div class="form-group col-md-1">
    <label for="count">Брой:</label>
    <div id="count">
        <input class="form-control" name="count"
               th:classappend="${#fields.hasErrors('count')}? 'is-invalid':'is-valid'"
               th:field="*{count}">
        <th:block th:each="error:${#fields.errors('count')}">
            <div class="invalid-feedback" th:text="${error}"></div>
        </th:block>
    </div>
</div>
